<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
  <div class="wrapper">
    {{ content }}
  </div>

  <script type="text/javascript" id="cookiebanner"
    src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js"
    data-cookie-secure="false" data-expires="86400"
    data-effect="fade" data-height="60px" data-padding="28px 16px" data-font-size="18px"
    data-message="I don't want to spy you 👀, but my blog site uses cookies 🍪 to ensure you get the best experience here."
    data-linkmsg="Cookies ... what!!! Tell me more!"
    data-moreinfo="https://www.cookiesandyou.com/">
  </script>
</body>
</html>
